* {
  color: #9c9c9c;
}

hr {
  height: 0;
  border: 0;
  margin: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid #e9e4e4;
}

table {
  border-collapse: collapse;
  font: 20px Calibri Light, sans-serif;
  border-color: transparent;
  text-align: center;
  
}

th {border-bottom: 1px solid;}
td {padding: 10px; border: 1;}
.borderline {border-right: 1px solid;}
.date {width: 30px;}
.crossref {width: 20px;}
.figure {width: 52px;}